<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jill</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../assets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../assets/font-awesome.min.css.erb" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index" >
<div id="aboutsplash">
    <section id="whatis">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What exactly <em>is</em> Investing?</h2>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">Investing is simple.  At its core, investing is about purchasing part of a company which you believe will
be worth more in the future than it is now.  Warren Buffett, the greatest investor of all time, achieved
legendary status by seeking out undervalued companies.  He did this by using advanced accounting,
financial statement analysis, and a keen judge of character to evaluate a company’s leadership.
Fortunately, with modern technology none of these skills are entirely necessary anymore in order
identify these companies.  We at Jill use advanced algorithms to quantify the financial strength of a
company, while also using our proprietary technology to quantify the social value of a company.  You
see, Jill is aimed at investors who seek not only a financial return on their investments – but also a social
return.  Warren Buffett’s most famous line to investors is ‘Invest in what you know.’  We at Jill take that
to heart, while also supporting the notion that one should invest in what they believe.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">There is an entire industry built on making investing seem more complex than it actually is.  Financial
advisors, bankers, ex-boyfriends and ex-girlfriends all benefit from your ceding control to others in your
financial life.  Jill is here to give that control back to you.  With an inside view of Wall Street, Jill’s team is
here to break down the wall that divides the fraternity culture of Wall Street from Main Street.  Our
partners’ advanced algorithms have outperformed Wall Street professionals by more than 35% per year
over the past 5 years.  That means if you invested $1000 with the average hedge fund in 2009, it would
be worth $1,370.09 today.  If, however, you allowed Jill to guide you towards both socially and
financially responsible investments, <b>that money would be worth over $5000 today.</b></p>
                </div>
            </div>
        </div>
    </section>
    <section id="didyou">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><em>Did you know?</em></h2>
                    <h3 class="section-subheading text-muted">Financial Strength Simplified</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <p class="text-muted">Ask any professional investor, and they will tell you that the key to successful investing is not any special
numeric ability, but rather it is the ability to manage your emotions, to keep your ego in check, and to be
patient.   In numerous studies, it has been shown that women display these traits more often than men,
and thus may have a natural advantage to investing in the stock markets.  While Jill is aimed at helping
both men and women, it is important that both groups understand their natural strengths and
weaknesses.</p>
                </div>
            </div>
        </div>
    </section>
</div>

</body>





</html>
