<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jill Investing</title>

    <!-- Bootstrap Core CSS -->
    <link href="../assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/flickity2.css" media="screen">
    <!-- Custom CSS -->
    <link href="../assets/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../assets/font-awesome.min.css.erb" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div id="images">
		<div class="box">
		<h1 align="center">Select some of your interests</h1>

		<div class="gallery">
		  <!-- images from unsplash.com -->
		  <img src="../assets/technology.jpg" alt="INNOVATIVE TECHNOLOGY" />
		  <img src="../assets/garden.jpg" alt="GARDENING" />
		  <img src="../assets/health-tech.jpg" alt="HEALTH TECHNOLOGY" />
		  <img src="../assets/sailing.jpg" alt="SAILING" />
		  <img src="../assets/BOOKS.jpg" alt="BOOKS" />
		  <img src="../assets/SHOES.jpg" alt="SHOES" />
		  <img src="../assets/FARM-LIFE.jpg" alt="FARM LIFE" />
		  <img src="../assets/ARCHITECTURE.jpg" alt="ARCHITECTURE" />
		  <img src="../assets/garden.jpg" alt="WIRELESS COMMUNICATION" />
		  <img src="../assets/garden.jpg" alt="TOYS AND GAMES" />
		  <img src="../assets/garden.jpg" alt="SYNTHETICS" />
		  <img src="../assets/garden.jpg" alt="SPORTING ACTIVITIES" />
		  <img src="../assets/garden.jpg" alt="WATER RESOURCES" />
		  <img src="../assets/garden.jpg" alt="AUTO" />
		  <img src="../assets/garden.jpg" alt="CONSUMER SERVICES" />
		  <img src="../assets/garden.jpg" alt="ELECTRONICS EQUIPMENT" />
		  <img src="../assets/garden.jpg" alt="MUSIC" />
		</div>

	<p class="caption">&nbsp;</p>



		</div>
	</div>

	<script src="../assets/interests.js"></script>
	<script src="../assets/flickity.pkgd.min.js"></script>
</body>
</html>
